* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.google.com/specimen/Sen?query=Kosal+Sen#standard-styles');

@font-face {
    font-family: 'BandeinsStange Bold';
    src: url('./theme/fonts/BandeinsStrange-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BandeinsStange Bold Extended Full';
    src: url('./theme/fonts/BandeinsStrange-BoldExtendedFull.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BandeinsStange Bold Extended Half';
    src: url('./theme/fonts/BandeinsStrange-BoldExtendedHalf.ttf');
    font-weight: bold;
    font-style: normal;
}
